language: haskell
before_install:
  - sudo apt-get update -qq
  - sudo apt-get --no-install-recommends install libgtk2.0-dev libgtk-3-dev alex happy
  - cabal install Cabal
  - cabal install gtk2hs-buildtools
install:
  - cabal install --only-dependencies --enable-tests
script:
  - cabal install
notifications:
  irc:
    channels: "irc.freenode.net#gtk2hs"
  email: true
